<h1>Password Generator</h1>
<div>
  <label for="pw-length">Enter Password Length</label>
  <input type="text" id="pw-length" />
</div>

<div>
  <label for="letters">Use Letters</label>
  <input type="checkbox" id="letters" />
</div>

<div>
  <label for="numbers">Use Numbers</label>
  <input type="checkbox" id="numbers" />
</div>

<div>
  <label for="symbols">Use Symbols</label>
  <input type="checkbox" id="symbols" />
</div>

<div>
  <button (click)="onButtonClick()">Generate Password</button>
</div>

<div>
  <label for="password">Your Password</label>
  <input type="text" id="password" />
</div>

